.header-logo {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-top: -10px;
}

img.browser-icon {
  height: 20px;
  width: 20px;
}

/* ======= gallery Section ======= */
.gallery {
  padding: 30px 20px;
  background: #ccc;
}
.gallery .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
