    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Requestly?</h2>
            <p class="intro text-center">Requestly is a Chrome and Firefox extension to modify network requests.
                Requestly provides a very user friendly interface to setup different types of rules to achieve different use cases.
            </p>
            <div class="row">

              <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for web developers</h3>
                        <p>You can setup Redirect rule to redirect your scripts running in production and debug your issues.
                          Have an awesome local develop and debug experience.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>You can setup Cancel/Redirect rule to stay away from time killing sites.
                         When Url contains facebook.com, redirect to StackOverflow & do some geeky stuff.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-chrome"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Cross Browser</h3>
                        <p>Requestly is available for Chrome and Firefox (v49+). Future plans include support for IE Edge and Opera.
                          Debugging cross-browser issues is lot more easier now.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Privacy</h3>
                        <p>Your rules stay with you and so is other data. Rules are stored on your local machine.
                        Unless you share rules to get a public Url, rules are not synced to Requestly servers.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-header"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Headers Modification</h3>
                        <p>You can also setup Headers rule to modify Request and Response Headers.
                          Mainly used in modifying security headers and analyzing the impact.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-share-alt"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Backup and Sharing</h3>
                        <p>Requestly allows you to download set of rules as a text file.
                          You can also share a set of rules by generating a public Url and providing the Url to other users.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
